* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Ninfont';
    src: url('./font/NES_Controller_MrShrike.ttf');
    /* src: url('FileName.eot?#iefix') format('embedded-opentype'),
         url('FileName.woff') format('woff'),
         url('FileName.ttf') format('truetype'),
         url('FileName.svg#FontName') format('svg'); */
    font-style: normal;
    font-weight: normal;
}

html, body{
    height: 100%;   
}

body {
    padding: 0;
    margin: 0;
    background-image: url("../images/bg-stars1.jpg");
    background-repeat: repeat;
    background-size: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    
}

h1{
    font-size: 3.125rem;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 800;
    
    color: #907346;
    margin: 0;
    text-align: center;
    margin-bottom: 15px;
}

h2{
    font-size: 2.5rem;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.875rem;
    font-weight: 300;
    color: #fff;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    color: #fff;
}

.header {
    background: #ED1D24;
    margin-bottom: 20px;
    padding: .3em .3em;
    text-align: center; 
    text-transform: uppercase;
    font-family: 'Ninfont', 'Open Sans', sans-serif;
    font-size: 1.5em;
    
}

.content {
    flex: 1 0 auto;
    padding: 0 10px;
    
}

.contentContainer {
    height: auto;
    border: 5px dashed #ffffff;
    background: #191413;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px 10px 25px;
    z-index: 2;
}

.spanG {
    margin-bottom: 4px;
}

.letters {
    text-align: center;
    font-family: 'Ninfont', 'Open Sans', sans-serif;
    font-size: 1.5em;
}

.imgWin {
    width: 100%;
    height: auto;
}

.controls {
    height: 20px;
    font-family: 'Ninfont', 'Open Sans', sans-serif;
    color: #ED1D24;
    background: #94948E;
    border-radius: 5px;
    text-align: center;
    padding-top: 1px;
    margin: 0 30%;
    font-size: 1.1em;
}

#btn-continue {
    display: none;
    cursor:pointer;
    height: 30px;
    width: 100px;
    text-align: center;
    background: #D9D9DC;
    font-family: 'Ninfont', 'Open Sans', sans-serif;
    padding-top: 7px;
    color: #4D4D4E;
    z-index: 999;
}

.controlTitle {
    cursor:pointer;
    margin: 0 10px;
}

.upperMargin {
    margin-top: 20px;
}

.invisible {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: fixed;
    border: none;
    outline: none;
    resize: none;
    z-index: 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
}

[class*="col-s"] {
    float: left;
    
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;   
}

@media only screen and (min-width: 641px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    .col-of {width: 0%;}

    .navbar {
        padding: 0 20px;
    }
    
    .content {
        padding: 0 20px;
    
    }

}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

    .offset {
        padding: 5px;
    }

}

@media only screen and (min-width: 992px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .offset {
        padding: 5px;
    }  

}

@media only screen and (min-width: 1200px) {
    /* For desktop: */
    .col-l-1 {width: 8.33%;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 91.66%;}
    .col-l-12 {width: 100%;}

    .offset {
        padding: 5px;
    }  

}